@using RealState.Application.ViewModel.Role
@using RealState.Application.ViewModel.User
@model UserSaveViewModel

@{
	var roles = ViewData["Roles"] as List<RoleViewModel> ?? new();
}
<form id="registerForm" asp-controller="Authentication" asp-action="Register" method="post" enctype="multipart/form-data">
	<h2>Join</h2>
	<hr />
	<div class="row">
		<div class="col-md-4">

			@Html.ValidationSummary(true)
			<div class="form-floating mb-3">
				<input asp-for="FirstName" class="form-control" type="text" />
				<label asp-for="FirstName" class="form-label">First Name</label>
				<span asp-validation-for="FirstName" class="text-danger"></span>
			</div>

			<div class="form-floating mb-3">
				<input asp-for="LastName" class="form-control" type="text" />
				<label asp-for="LastName" class="form-label">Last Name</label>
				<span asp-validation-for="LastName" class="text-danger"></span>

			</div>

			<div class="form-floating mb-3">
				<input asp-for="PhoneNumber" class="form-control" type="text" />
				<label asp-for="PhoneNumber" class="form-label">Phone Number</label>
				<span asp-validation-for="PhoneNumber" class="text-danger"></span>

			</div>

			<div class="form-floating mb-3">
				<input asp-for="File" type="file" id="fileInput" / required>
				<span asp-validation-for="File" class="text-danger"></span>

			</div>

			<div class="form-floating mb-3">
				<input asp-for="UserName" class="form-control" type="text" />
				<label asp-for="UserName" class="form-label">UserName</label>
				<span asp-validation-for="UserName" class="text-danger"></span>

			</div>
		</div>

		<div class="col-md-4 col-md-offset-2">
			<section>
				<div class="form-floating mb-3">
					<input asp-for="Email" class="form-control" type="email" />
					<label asp-for="Email" class="form-label">Email</label>
					<span asp-validation-for="Email" class="text-danger"></span>

				</div>

				<div class="form-floating mb-3">
					<input asp-for="Password" class="form-control" placeholder="password" type="password" />
					<label asp-for="Password" class="form-label" for="Input_Password">Password</label>
					<span asp-validation-for="Password" class="text-danger"></span>

				</div>

				<div class="form-floating mb-3">
					<input asp-for="ConfirmPassword" class="form-control" placeholder="password" type="password" />
					<label asp-for="ConfirmPassword" class="form-label" for="Input_Password">Password</label>
					<span asp-validation-for="ConfirmPassword" class="text-danger"></span>

				</div>

				<div class="mb-3">
					<select name="RolesId" class="form-select" required>
						<option value="">select role</option>
						@foreach (var item in roles)
						{
							<option value="@item.Id">@item.Name</option>
						}
					</select>
					<span class="text-danger"></span>
				</div>

				<div>
					<button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Save</button>
				</div>
			</section>
		</div>
		<div class="col-md-2">
			<div style="max-width:200px">
				<p>Picture</p>
				<img id="previewImage" style="width:100%" src="..." class="rounded mx-auto d-block" alt="...">
			</div>
		</div>
	</div>
</form>

@section Scripts {
	<script>
		document.getElementById('fileInput').addEventListener('change', function (event) {
			const file = event.target.files[0];
			if (file) {
				const reader = new FileReader();
				reader.onload = function (e) {
					document.getElementById('previewImage').src = e.target.result;
				};
				reader.readAsDataURL(file);
			}
		});
	</script>
}
