@using RealState.Application.ViewModel.Account
@model ForgotPasswordViewModel
@{
    Layout = "~/Views/Shared/_LayoutAuthentication.cshtml";
}
<div class="mt-5 container">
	<div class="w40">
		<div class="card">
			<div class="card-header bg-primary fs-4 text-white">
				<div class="d-flex justify-content-between">
					<h5>Forgot Password</h5>
				</div>
			</div>
			<div class="card-body">
				<form method="post" asp-controller="Account" asp-action="ForgotPassword">
					@Html.ValidationSummary(true)

					<div class="mb-3">
						<p class="fw-light">To change your password, we need to verify your account</p>
						<p class="fw-light">An email will be sent to you with the link to reset your password</p>
					</div>

					<div class="mb-3">
						<label asp-for="Account" class="form-label">Account</label>
						<input asp-for="Account" type="text" placeholder="UserName or Email" class="form-control" >
						<span asp-validation-for="Account" class="text-danger"></span>
					</div>

					<div class="btn-form d-flex align-items-center gap-2">
						<button type="submit" class="btn btn-primaryr">Continue</button>
						<a asp-controller="Account" asp-action="SignIn" class="btn btn-warning">&larr;Back to login</a>
					</div>

				</form>
			</div>
		</div>
	</div>
</div>