@using RealState.Application.DTOs.User
@{
    List<ApplicationUserDTO>? agents = ViewBag.Agents as List<ApplicationUserDTO>;
}
<div class="main-body">
    <div class="header">
        <div class="title">
            <h1> RealState Dom</h1>
            <div class="descripcion">
                <p>Los mejores en romper precios</p>
            </div>
        </div>
    </div>
    <div class="body">
        <div class="form">
            <h3 class="mb-3">Search By Agent Name</h3>
            <form method="get" asp-controller="home" asp-action="agents">
                <div class="form-group">
                    <label>Agent Name</label>
                    <input type="text" placeholder="FirstName" name="FirstName" class="form-control">
                </div>
                <!--Average price searching-->
                <div class="form-group">

                    <div>
                        <button style="margin-top:35px" type="submit" class="btn btn-primary">Search</button>
                    </div>
                </div>
            </form>
        </div>
        @{
            if (agents != null)
            {
                <div class="container ">
                    @foreach (var agent in agents)
                    {
                        <a href="Agent/@agent.Id" class="container mt-5 agent-card" style="padding-left:0;">
                            <div class="card" style="width: 18rem;">
                                <img class="card-img-top" src="@agent.Picture" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">@agent.FirstName  @agent.LastName</h5>
                                </div>
                            </div>
                        </a>
                    }

                </div>
            }
            else
            {
                <div>
                    <h1>No Agents Found</h1>
                </div>
            }
        }
    </div>
</div>