html, body {
    height: 100%;
    margin: 0;
}
.section-picture {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: rgb(250,250,250);
}

.centrar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;

}

.section-form {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.section-form form{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.section-form form .form-group{
    width: 60%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 20px;
}

.section-picture .image {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.section-picture .image img{
    width: 100%;
    height: 100vh;
    background-size: cover;
}


.end-line{
  width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: row;
    margin-top: 20px;
}


.section-group{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: auto;
}

    .section-group form {
        width: 60%;
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 40px;
        border-radius: 10px;
        margin-bottom: 20px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
.section-group2 {
    display: flex;
    justify-content: center;
    margin-top: 200px;
    height: 90vh; /* Esto es opcional para centrar verticalmente */
}

.center-div {
    width: 100%;
    max-width: 90%; /* Ajusta el ancho máximo según sea necesario */
    padding: 20px;
    text-align: center;
}

.table-responsive {
    width: 100%;
    overflow-x: auto;
}

.table {
    width: 100%;
    margin-bottom: 1rem;
    background-color: #fff;
 
    /* Esto permite que la tabla se adapte a su contenido */
}

    .table th,
    .table td {
        padding: 0.75rem;
        vertical-align: top;
        border-top: 1px solid #dee2e6;
    }

    .table thead th {
        vertical-align: bottom;
        border-bottom: 2px solid #dee2e6;
    }

    .table tbody + tbody {
        border-top: 2px solid #dee2e6;
    }

