body {
    background-color: #f8f9fa;
}

.main-body {
    background-color: #f8f9fa;
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    width: 100%;
}

.header {
    background: url("../pictures/building3.jpg");
    background-size: cover;
    background-position: center;
    height: 800px;
    width: 100%;
    position: relative;
    overflow: hidden; /* Para asegurar que el texto no se salga del contenedor */
}

    .header::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro con opacidad */
    }

    .header .title {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: white; /* Texto en blanco */
    }

        .header .title h1 {
            font-size: 3em; /* Tamaño grande de fuente */
            margin-bottom: 20px;
        }

    .header .descripcion {
        font-size: 1.5em; /* Tamaño de fuente para descripción */
        /* Estilos adicionales para la descripción si es necesario */
    }


.progress-container {
    width: 100%;
    height: 30px;
    background-color: #f0f0f0;
    cursor: pointer;
}

.progress-bar {
    height: 100%;
    background-color: #4caf50;
    width: 0;
    transition: width 0.3s ease;
}

.form {
    margin-top: 20px;
    width: 80%;
    margin: auto;
    padding: 20px;
}

    .form form {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }


.range {
    width: 100%;
    display: flex;
    gap: 20px;
}


.card-house {
    cursor: pointer;
    width: 300px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    background: white;
    box-shadow: 5px 10px 18px #888888;
    border-radius: 10px;
    box-sizing: border-box;
    text-decoration: none;
    color: black;
    margin: 10px;
}

    .card-house:hover {
        text-decoration: none;
        color: inherit;
    }
    .agent-card{
        cursor: pointer;
        text-decoration: none;
        color: black;
    }
.agent-card:hover {
    text-decoration: none;
    color: inherit;
}

.header-house {
    width: 100%;
    height: 200px;
    position: relative;
}

    .header-house img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

.description-house {
    padding: 5px;
    padding-left: 10px;
    width: 100%;
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    .title h2 {
        font-size: 1.3em;
        font-weight: 500;
        margin: 0;
    }

    .title:hover {
        color: black;
    }


.btn-link {
    font-size: 1.5em;
    color: black;
    text-decoration: none;
}

.description {
    margin-top: 10px;
}


.characteristics {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 4px;
}

.tag-house {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    border: 1px solid gray;
    padding: 5px 5px;
    border-radius: 20px;
}

.price {
    width: 100%;
    font-size: 1.5em;
    font-weight: 500;
    border-top: 1px solid gray;
    padding: 10px;
    margin-top: auto;
}

    .price p {
        font-size: 1.2em;
        font-weight: 500;
        margin: 0;
    }


/* Estilos para el carrusel */
.header-slide {
    padding: 20px;
    background: rgb(12,9,16,0.3);
    width: 80%;
    margin: auto;
    height: 70vh;
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
    padding-bottom: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.glide__slide img {
    width: 100%;
    max-height: 100%;
    object-fit: cover; /* Ajusta el comportamiento de la imagen para cubrir el área asignada */
    margin-bottom: 20px;
}


.property-information {
    display: flex;
    width: 80%;
    margin: auto;
}


.card-property {
    width: 60%;
    background: #fff;
    padding: 20px;
    padding-left: 60px;
    color: black;
}

.property-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;
}



.icon-container {
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 14px;
}

    .icon-container p {
        margin: 0;
        color: rgb(120,122,122);
    }

.icons-flex {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.upgrade-container {
    padding: 20px;
    padding-left: 0;
    display: flex;
    gap: 20px;
}

    .upgrade-container p {
        border: 1px solid rgba(120,122,122,0.3 );
        padding: 8px 13px;
        border-radius: 5px;
        margin: 0;
        color: rgb(120,122,122);
        font-size: 14px;
        font-weight: 600;
    }

.extra-information p {
    color: rgb(120,122,122);
}

.description-property {
    margin-top: 10px;
    margin-bottom: 40px;
}


.card-agent {
    width: 40%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    padding: 20px;
    border-radius: 10px;
    padding-top: 40px
}

    .card-agent .title {
        font-size: 1.3em;
        color: rgb(120,122,122);
        margin-bottom: 5px;
        border: none;
    }

    .card-agent .price {
        padding: 0;
        color: rgb(63,174,98);
        border: none;
    }

.agent-information {
    display: flex;
    gap: 20px;
    flex-direction: column;
    padding: 20px;
}

.profile{
    width: 100%;
    display: flex;
    gap: 20px;
    align-items: center;

}

    .agent-information .agent-image {
       display: flex;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        object-fit: cover;
        padding: 10px;

    }

.agent-image img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

 .contact-info{
     display: flex;
    gap: 20px;
    align-items: center;
    margin: 0;
    font-size:14px;
    margin-top: 20px;

 }
.section-form form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.section-form {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.section-group {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: auto;
}

    .section-group form {
        width: 60%;
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 40px;
        border-radius: 10px;
        margin-bottom: 20px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }

.section-picture {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: rgb(250,250,250);
}


    .section-picture .image {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

        .section-picture .image img {
            width: 100%;
            height: 100vh;
            background-size: cover;
        }


.section-form form .form-group {
    width: 60%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 20px;
}


/*Card user*/

.card-active {
    border: 2px solid #28a745; /* Verde para agentes activos */
}

.card-inactive {
    border: 2px solid #dc3545; /* Rojo para agentes inactivos */
}

.card-active .card-header,
.card-active .card-footer {
    background-color: #28a745;
    color: white;
}

.card-inactive .card-header,
.card-inactive .card-footer {
    background-color: #dc3545;
    color: white;
}