@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
}

h1 { 
    font-weight: 700;
   
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.validation-summary-errors {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
    padding: 15px;
    border-radius: 5px;
}

.validation-summary-errors ul {
    margin: 2px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}


select {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    padding: 10px;
}

    select ::after {
        content: '\25BC';
        position: absolute;
        top: 0;
        right: 0;
        padding: 10px;
        background: #f1f1f1;
    }

input {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    padding: 10px;
}

label {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 2.5px;
    margin-top: 8.5px;
   
}

textarea {
    width: 100%;
    height: 50px;
    border-radius: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    padding: 10px;
    resize: none;
}

input ::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    background: #f1f1f1;
}

input:focus {
    border : 1px solid black;
}

input[type="submit"] {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    padding: 5px;
    background-color: #258cfb;
    color: white;
    cursor: pointer;
}

