@using RealState.Application.ViewModel.Role
@using RealState.Application.ViewModel.User
@model UserSaveViewModel

@{
	var role = ViewData["AdminRole"] as RoleViewModel ?? new();
}
<form id="registerForm" asp-controller="AdminMaintenance" asp-action="Update" method="post">
	<h2>Update Admin</h2>
	<hr />
	<div class="row">
		<div class="col-md-4">

			@Html.ValidationSummary(true)
			<div class="form-floating mb-3">
				<input asp-for="FirstName" class="form-control" type="text" />
				<label asp-for="FirstName" class="form-label">First Name</label>
				<span asp-validation-for="FirstName" class="text-danger"></span>
			</div>

			<div class="form-floating mb-3">
				<input asp-for="LastName" class="form-control" type="text" />
				<label asp-for="LastName" class="form-label">Last Name</label>
				<span asp-validation-for="LastName" class="text-danger"></span>

			</div>

			<div class="form-floating mb-3">
				<input asp-for="IdentifierCard" class="form-control" type="text" />
				<label asp-for="IdentifierCard" class="form-label">Identifier Card</label>
				<span asp-validation-for="IdentifierCard" class="text-danger"></span>

			</div>

			<div class="form-floating mb-3">
				<input asp-for="UserName" class="form-control" type="text" />
				<label asp-for="UserName" class="form-label">UserName</label>
				<span asp-validation-for="UserName" class="text-danger"></span>

			</div>

			<input type="hidden" asp-for="Id"/>
		</div>

		<div class="col-md-4 col-md-offset-2">
			<section>
				<div class="form-floating mb-3">
					<input asp-for="Email" class="form-control" type="email" />
					<label asp-for="Email" class="form-label">Email</label>
					<span asp-validation-for="Email" class="text-danger"></span>

				</div>

				<div class="form-floating mb-3">
					<input asp-for="Password" class="form-control" type="password" required />
					<label asp-for="Password" class="form-label" for="Input_Password">Password</label>
					<span asp-validation-for="Password" class="text-danger"></span>

				</div>

				<div class="form-floating mb-3">
					<input asp-for="ConfirmPassword" class="form-control" type="password" required />
					<label asp-for="ConfirmPassword" class="form-label" for="Input_Password">Confirm Password</label>
					<span asp-validation-for="ConfirmPassword" class="text-danger"></span>

				</div>

				<input type="hidden" asp-for="RolesId"/>
				<input type="hidden" asp-for="Picture" />

				<div style="gap:15px">
					<button id="login-submit" type="submit" class="btn btn-primary">Save</button>
					<a asp-controller="AdminMaintenance" asp-action="Index" class="btn btn-warning">Back to List</a>
				</div>
			</section>
		</div>
	</div>
</form>
