<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RealState.MVC</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="~/css/property.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Component.css" asp-append-version="true" />
 <script src="
https://cdn.jsdelivr.net/npm/sweetalert2@11.12.3/dist/sweetalert2.all.min.js
"></script>
    <link rel="stylesheet" href="~/RealState.MVC.styles.css" asp-append-version="true" />
      <script src="~/lib/jquery/dist/jquery.min.js"></script>
</head>
<body>
    <header class="header">
     <nav class="menu">
    <div class="title"><h2>Menu Title</h2></div>
    <ul class="menu-options">
          <li><a href="/agent/index"><i class="fa-solid fa-house"></i>My Properties</a></li>
          <li><a href="/agent/profile"><i class="fa-solid fa-user"></i>Profile</a></li>
          <li><a href="/Account/LogOut" class="nav-item nav-link text-dark"><i class="fa-solid fa-sign-out"></i>Logout</a></li>
    </ul>

</nav>
    </header>
        <main role="main" class="container pb-3">
            @RenderBody()
        </main>


    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
